                                                /* estilos generales comunes */

@font-face {
    font-family: fontgame;
    src: url(..//font/JumboSale\ Trial.otf);
}
@font-face {
    font-family: magnetofont;
    src: url(..//font/7382-fontps.ttf);
}
.body{
background-image: url(..//fondo/fndo.jpg);
background-repeat: no-repeat;
background-size: cover;
display: flex;
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}

header {
    width: 100%;
    height: 300px;
}



#menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0px;
    top: 30px;
    position: absolute;
}


#botonmenu{
    width: 300px;
    height: 63px;
    font-family: fontgame;
    font-size: 35px;
    color: #db8f31;
    border: 1px solid #000000;
    background-color: rgb(51, 184, 199, 0.9);
    border-radius: 6px;
    margin: 20px;
    padding: 0px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 5px 5px 5px #443a01;
    -webkit-text-stroke: 2px #0c0703;
 
    

}
#botonmenu:hover{
    transform: scale(115%);

}

#banerbody{
    position: absolute;
    right: 350px;
    top: 300px;
    height: auto;
    width: 1200px;
    background-color: rgb(51, 184, 199, 0.6);
    cursor: default;
    border-radius: 15px;
    box-shadow:  5px 5px 5px rgb(44, 44, 44);
    border: 3px solid #db8f31;
    
}

#containerinicio{
    position: absolute;
    top: 250px;
    width: 1500px;
    display: flex;
    padding: 5px;
    background-color: rgb(51, 184, 199, 0.6);
    border-radius: 15px;
    height: 450px;
    left: 170px;
   

}

.divgame{
    position: absolute;
    width: 70%;
    height: 800px;
    top: 140px;
    left: 320px;
    padding: 0;
    margin: 0;
    background-color: rgb(12, 12, 12, 0.65);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



                                           /* pestaña juegos */
#fotogame{
    width: 100%;
    border: 3px solid black;
    border-radius: 10px;
    transition: 0.3s ease;
    opacity: 0.98;
    cursor: pointer;
    
}
#fotogame:hover{
    transform: scale(110%);
    
}
#columnainicio{
    width: 30%;
    margin: 23px;
    border-radius: 15px;
}

.noticias{
    position: relative;
    left: 100px;
    width: 1000px;
    height:300px;
    text-align: center;
    transition: 0.4s ease;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 15px;
    
}
.noticias a {
    text-decoration: none;
}
.noticias:hover{
    transform: scale(103%);
    border: black;
    
}
h1{ 
    font-family: fontgame;
    font-size: 90px;
    color: #db8f31;
    -webkit-text-stroke: 0.3px #0c0703;
    text-align: center;
}

.imagenes_noticias{
width: 1000px;
height: 300px;
border-radius: 15px;
border: 2px #db8f31 solid;
box-shadow:  10px 10px 10px rgb(44, 44, 44);
}
.titulo_noticia{
    position: relative;
    top: -170px;
    font-size: 40px;
    color: #db8f31;
    -webkit-text-stroke: 0.8px #0c0703;
}
.descripcion_noticia{
    position: relative;
    top: -210px;
    font-size: 20px;
    color: white;
    -webkit-text-stroke: 0.8px #0c0703;
}


