     
     
     
     
                                                /* estilos generales comunes */

@font-face {
    font-family: fontgame;
    src: url(..//font/JumboSale\ Trial.otf);
}
@font-face {
    font-family: magnetofont;
    src: url(..//font/7382-fontps.ttf);
}
.body{
background-image: url(..//fondo/fndo.jpg);
background-repeat: no-repeat;
background-size: cover;
display: flex;
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}

header {
    background-color: rgb(0, 0, 0 , 0.5);
    width: 100%;
    height: 300px;
}

h1 {
    left: 20px;
    font-size: 85px;
    font-family: magnetofont;
    color: #d8bb19;
    -webkit-text-stroke: 5px rgba(19, 18, 18, 0.8);
    cursor: default;
    

}

#menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0px;
    top: 30px;
    position: absolute;
}


#botonmenu{
    width: 300px;
    height: 63px;
    font-family: fontgame;
    font-size: 21px;
    color: #ffd90f;
    border: 1px solid #d8bb19;
    background-color: #ffd90f;
    -webkit-text-stroke: 2px rgb(83, 83, 83);
    border-radius: 6px;
    margin: 20px;
    padding: 0px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 5px 5px 5px #685801;
    

}
#botonmenu:hover{
    transform: scale(115%);

}

#banerbody{
    position: absolute;
   right: 10px;
   top: 150px;
    height: 700px;
    width: 400px;
    background-color: #ffd90f;
    opacity: 80%;
    cursor: pointer;
}

#containerinicio{
    position: absolute;
    top: 250px;
    width: 1500px;
    display: flex;
    padding: 5px;
    background-color: rgb(12, 12, 12, 0.85);
    border-radius: 15px;
    height: 450px;
    left: 170px;


}
.divgame{
    position: absolute;
    width: 70%;
    height: 800px;
    top: 140px;
    left: 320px;
    padding: 0;
    margin: 0;
    background-color: rgb(12, 12, 12, 0.65);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    






}



                                           /* pesta単a juegos */
#fotogame{
    width: 100%;
    border: 3px solid black;
    border-radius: 10px;
    transition: 0.3s ease;
    opacity: 0.98;
    cursor: pointer;
    

   
   
}
#fotogame:hover{
    transform: scale(110%);
    
}
#columnainicio{
    width: 30%;
    margin: 23px;
    border-radius: 15px;

    
}

                                                   /* pesta単a ranking */
#divranking_bj{
    width: 600px;
    display: block;
    background-color: rgb(256, 217, 15, 0.7);
    position: absolute;
    top: 500px;
    left: 650px;
    align-items: center;
    justify-content: center;
    font-family: fontgame;
    font-size: 40px;
    color: #ffd90f;
    -webkit-text-stroke: 2px rgb(54, 52, 52);
    border: 4px rgb(44, 44, 44) solid;
    border-radius: 15px;
    box-shadow:  5px 5px 5px rgb(44, 44, 44);
    opacity: 0;


}
#divranking_ppt{
    width: 600px;
    display: block;
    background-color: rgb(256, 217, 15, 0.7);
    position: absolute;
    top: 500px;
    left: 650px;
    align-items: center;
    justify-content: center;
    font-family: fontgame;
    font-size: 40px;
    color: #ffd90f;
    -webkit-text-stroke: 2px rgb(54, 52, 52);
    border: 4px rgb(44, 44, 44) solid;
    border-radius: 15px;
    box-shadow:  5px 5px 5px rgb(44, 44, 44);
    opacity: 0;
    


}
#divranking_pr{
    width: 600px;
    display: block;
    background-color: rgb(256, 217, 15, 0.7);
    position: absolute;
    top: 500px;
    left: 650px;
    align-items: center;
    justify-content: center;
    font-family: fontgame;
    font-size: 40px;
    color: #ffd90f;
    -webkit-text-stroke: 2px rgb(54, 52, 52);
    border: 4px rgb(44, 44, 44) solid;
    border-radius: 15px;
    box-shadow:  5px 5px 5px rgb(44, 44, 44);
    opacity: 0;


}

.prank{
    text-align: center;

}

.posicion{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#ranking_titulo{
    border-bottom: 4px #0c0703 solid;
   
}


#boton_ranking_bj{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgb(0, 0, 0 , 0.9);
    box-shadow:  5px 5px 5px rgb(44, 44, 44);
    border-radius: 10px;
    left: 500px;
    top: 280px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    background-image: url(../juegos/blackjack/bjportada.jpg);
    background-size: cover;
    background-position: center -10px;
    opacity: 0.9;
}
#boton_ranking_bj:hover{
    transform: scale(110%);
    opacity: 1;
    
}
#boton_ranking_ppt{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgb(0, 0, 0 , 0.9);
    box-shadow:  5px 5px 5px rgb(44, 44, 44);
    border-radius: 10px;
    left: 800px;
    top: 280px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    background-image: url(../juegos/piedrapapeltijera/banerppt2.jpg);
    background-size: cover;
    background-position: -48px center;
    opacity: 0.9;


}
#boton_ranking_ppt:hover{
    transform: scale(110%);
    opacity: 1;
    
}
#boton_ranking_pr{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgb(0, 0, 0 , 0.9);
    box-shadow:  5px 5px 5px rgb(44, 44, 44);
    border-radius: 10px;
    left: 1100px;
    top: 280px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    background-image: url(../juegos/carrace/carportada.png);
    background-size: cover;
    background-position: center center;
    opacity: 0.9;
}
#boton_ranking_pr:hover{
    transform: scale(110%);
    opacity: 1;
    
}



                                                    /* pesta単a blackjack */

.divbj{
    z-index: 2;
    width: 96%;
    height: 96%;
    left: 26px;
    background-image: url(../juegos/blackjack/bjportada.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 15px;
    align-items: center;
    position: absolute;

    
}

#botonstarbj{
    width: 200px;
    height: 65px;
    background-color: #f84134;
    position: absolute;
    bottom: 30px;
    left: 560px;
    border: 2px rgb(36, 35, 35) solid;
    border-radius: 15px;
    transition:  0.3s ease;
    cursor: pointer;
    text-align: center;
    font-family: fontgame;
    color: #ffffff;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    font-size: 55px;
    box-shadow: 3px 3px 3px #3d100c;

}

#botonstarbj:hover{
    transform: scale(110%);

}


#mesabj{
    position: absolute;
    left: 2px;
    opacity: 0;
    top: -10px;
    right: 10px;
    width: 1600px;
    height: 780px;
    background-image: url(../juegos/blackjack/mesabj.jpg);
    background-repeat: no-repeat;
    transition: 0.5 ease;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #041f0181;

    
}

#botonpedircarta{
    width: 225px;
    height: 72px;
    background-color: #f84134;
    position: absolute;
    bottom: 50px;
    left: 790px;
    border: 4px rgb(36, 35, 35) solid;
    border-radius: 15px;
    cursor: default;
    text-align: center;
    font-family: fontgame;
    color: #ffffff;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    font-size: 35px;
    opacity: 0;
    box-shadow: 3px 3px 3px #3d100c;


}
#botonpedircarta:hover{
    transform: scale(110%);
}

#botonplantarse{
    width: 225px;
    height: 72px;
    background-color: #f84134;
    position: absolute;
    bottom: 50px;
    left: 1055px;
    border: 4px rgb(36, 35, 35) solid;
    border-radius: 15px;
    cursor: default;
    text-align: center;
    font-family: fontgame;
    color: #ffffff;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    font-size: 35px;
    opacity: 0;
    box-shadow: 3px 3px 3px #3d100c;


}
#botonplantarse:hover{
    transform: scale(110%);
}

#cerrarjuego{
    left: 1250px;
    width: 40px;
    height: 40px;
    background-color: #f84134;
    position: absolute;
    border: 3px black solid;
    border-radius: 1px;
    cursor: default;
    font-family: fontgame;
    color: #ffffff;
    -webkit-text-stroke: 2px black;
    font-size: 32px;
    transition: 0.3s ease;
    opacity: 0;
    box-shadow: 3px 3px 3px #3d100c;



}
#cerrarjuego:hover{
    transform: scale(107%);
}


#mensajesuma{
    left: 790px;
    bottom: 150px;
    width: 500px;
    height: 130px;
    background-color: #f84134;
    position: absolute;
    border: 3px black solid;
    border-radius: 15px;
    cursor: default;
    color: #ffffff;
    -webkit-text-stroke: 2px black;
    font-size: 32px;
    transition: 0.3s ease;
    opacity: 0;
    box-shadow: 3px 3px 3px #3d100c;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#contenedorcartas{
   display: inline;
   position: absolute;
   height: 290px;
   width: 770px;
   bottom: 15px;
   left: 10px;
   border: 5px solid rgba(6, 71, 9, 0.8);
   border-radius: 15px;
   background-color: rgba(9, 109, 14, 0.5);
   opacity: 0;
}

#cartasmesa{
    position: absolute;
    width: 790px;
    height: 290px;
    border-radius: 15px;
    border: 5px solid rgba(6, 71, 9, 0.8);
    background-color:rgba(9, 109, 14, 0.5);
    left: 400px;
    top: 20px;
    justify-content: center;
    align-items: center;
    opacity: 0;

}

#mensajemesa{
    display: flex;
    position: absolute;
    width: 350px;
    height: 420px;
    background-color: #d8bb19;
    top: 20px;
    left: 20px;
    border-radius: 15px;
    opacity: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    
}

#reset{
    width: 225px;
    height: 90px;
    background-color: #f84134;
    position: absolute;
    bottom: 300px;
    left: 1000px;
    border: 4px rgb(36, 35, 35) solid;
    border-radius: 15px;
    cursor: default;
    text-align: center;
    font-family: fontgame;
    color: #ffffff;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    font-size: 30px;
    opacity: 0;
    box-shadow: 3px 3px 3px #3d100c;
    transition: 0.3s ease;
}

#reset:hover{
    transform: scale(107%);
}
                                       /* pesta単a piedra papel tijera */
#divpiedrapapeltijera{
    position: relative;
    left: 25px;
    top: 50px;
    width: 100%;
    height: 85%;
    background-image: url(../juegos/piedrapapeltijera/banerppt2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #041f0181;
    z-index: 2;

 
}

#botonstarppt{
    position: absolute;
    border-radius: 5px;
    bottom: 40px;
    width: 200px;
    height: 70px;
    transition: 0.3s ease;
    background-color: #33b8c7;
    font-family: fontgame;
    -webkit-text-stroke: 2px #0c0703;
    font-size: 40px;
    color: #db8f31;
    box-shadow:  2px 2px 2px rgb(44, 44, 44);
    cursor: pointer;
    animation: boton_start 0.9s ease-in;
    z-index: 2;
  

}

#botonstarppt:hover{
    transform: scale(107%);
    background-color: #db8f31;
    color: #33b8c7;
}

#boton_piedra{
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: white;
    left: 110px;
    bottom: 160px;background-image: url(../juegos/piedrapapeltijera/piedra.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:  5px 5px 5px rgb(44, 44, 44);
    transition: 0.3s ease;
    cursor: default;
    opacity: 0;
    z-index: 2;

}
#boton_piedra:hover{
    transform: scale(107%);
}

#boton_tijera{position: absolute;
    left: 35px;
    bottom: 40px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: white;
    background-image: url(../juegos/piedrapapeltijera/tijera.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:  5px 5px 5px rgb(44, 44, 44);
    transition: 0.3s ease;
    cursor: default;
    opacity: 0;
    z-index: 2;
   


}
#boton_tijera:hover{
    transform: scale(107%);

}
#boton_papel{position: absolute;
    left: 185px;
    bottom: 40px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-image: url(../juegos/piedrapapeltijera/papel.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:  5px 5px 5px rgb(44, 44, 44);
    transition: 0.3s ease;
    cursor: default;
    opacity: 0;
    z-index: 3;
   
    
    
}
#boton_papel:hover{
    transform: scale(107%);
}

#cerrar_juego{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #33b8c7;
    right: 50px;
    bottom: 20px;
    opacity: 0;
    transition: 0.3s ease;
    font-family: fontgame;
    font-size: 40px;
    color: #db8f31;
    -webkit-text-stroke: 2px #0c0703;
    box-shadow:  5px 5px 5px rgb(44, 44, 44);
    z-index: 2;

}

#cerrar_juego:hover{
    transform: scale(107%);
    background-color: #db8f31;
    color: #33b8c7;
}

#resetppt{
    position: absolute;
    width: 140px;
    height: 80px;
    border-radius: 20px;
    background-color: #33b8c7;
    left: 20px;
    bottom: 350px;
    opacity: 1;
    font-size: 30px;
    transition: 0.3s ease;
    color: #db8f31;
    opacity: 0;
    -webkit-text-stroke: 2px #0c0703;
    font-family: fontgame;
    box-shadow:  5px 5px 5px rgb(44, 44, 44);
    z-index: 2;
}
#resetppt:hover{
    transform: scale(107%);
    background-color: #db8f31;
    color: #33b8c7;
}

@keyframes caida_piedra {
    0% { transform: translateY(-900px);}
    40% { transform: translateY(200px);}
    60% {transform: translateY(-80px);}
    90%{transform: translateY(0px);}
    100%{transform: translateY(0);}
}


@keyframes caida_papel {
    0% {
        transform: translate(800px, -800px);
    }
    30% {
        transform: translate(-10px, 0px);
    }
    45% {
        transform: translate(70px, -200px);

    }
    100%{transform: translate(0,0);}
}



@keyframes caida_tijera {
    0% {
        transform: translate(-800px, -800px);
    }
    30% {
        transform: translate(10px, 0px);
    }
    45% {
        transform: translate(-70px, -200px);

    }
    100%{transform: translate(0,0);}
}



@keyframes boton_start{
    0% { transform: translateX(-800px);}
    50%{transform: translateX(200px);}
    75%{transform: translateX(-200px);}
    95%{transform: translateX(100px);}
    100%{transform: translateX();}

}
#fondoppt{
    position: absolute;
    top: 220px;
    left: 325px;
    width: 1320px;
    height: 720px;
    background-image: url(../juegos/piedrapapeltijera/fondojuego.jpg);
    border-radius: 15px;
    z-index: 1;
    opacity: 0;
    overflow: hidden;
}
#mensajeppt{
    position: absolute;
    right: 300px;
    top: 240px;
    width: 1200px;
    height: 57px;
    z-index: 1;
    color: #0c0703;
    font-size: 50px;
    background-color: #db8f31;
    border-radius: 15px;
    text-align: center;
    font-family: fontgame;
    opacity: 0;
    box-shadow:  5px 5px 5px rgb(44, 44, 44);


}

#mesa_ppt{
    position: absolute;
    left:  400px;
    top: 250px;
    width: 1200px;
    height: 600px;
    z-index: 1;
    color: #0c0703;
    font-size: 50px;
    background-color: rgb(51, 184, 199, 0.4);
    border-radius: 15px;
    opacity: 0.4;
    box-shadow:  5px 5px 5px rgb(44, 44, 44);

}

#imgppt_player{
    position: absolute;
    left: 520px;
    top: 320px;
    width: 400px;
    height: 500px;
    background-color: rgb(8, 8, 8, 0.3);
    border-radius: 15px;
    z-index: 1;
    opacity: 0;
   
}
#imgvsppt{
    position: absolute;
    left: 900px;
    bottom: 60px;
    width: 300px;
    height: 600px;
    background-image: url(../juegos/piedrapapeltijera/vs.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 50px;
    opacity: 0;

}
#imgppt_compu{
    position: absolute;
    left: 1180px;
    top: 320px;
    width: 400px;
    height: 500px;
    background-color: rgb(8, 8, 8, 0.3);
    border-radius: 15px;
    z-index: 1;
    opacity: 0;
}

.ppt_imggame{
    position: absolute;
    margin: auto;
    top: -40px;
    left: 40px;
    
}
#piedra_img{
    opacity: 0;
}
#tijeras_img{
    opacity: 0;
}
#papel_img{
    opacity: 0;
}
#tijeras_img_pc{
    opacity: 0;
}
#piedra_img_pc{
    opacity: 0;
}
#papel_img_pc{
    opacity: 0;
}
#contenedor_jugadas{
    position: relative;
    display: flex;
    right: 400px;
    bottom: -360px;
    width: 1600px;
    background-color: #33b8c7;
    align-content: center;
    justify-content: center;
    align-items: center;
  

}
.boton_jugadas{
    display: flex;
    width: 300px;
    height: 100px;
    background-color: #d8bb19;
    border: 2px solid black;
    margin: 10px;
    border-radius: 15px;
    background-color: #33b8c7;
    transition: 0.3s ease;
    color: #db8f31;
    -webkit-text-stroke: 2px #0c0703;
    font-family: fontgame;
    box-shadow:  5px 5px 5px rgb(44, 44, 44);
    font-size: 40px;
    justify-content: center;
    align-items: center;
    cursor: default;
    opacity: 0;
    
}

.boton_jugadas:hover{
    transform:  scale(107%);
    color: #33b8c7;
    background-color: #db8f31;
}
